!!! 5
%html
  %head
    %title Void
    = stylesheet_link_tag "application", media: "all", 
      "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.ico'
    = csrf_meta_tags
  %body{class: "#{params[:controller]} #{params[:controller]}-#{params[:action]}"}

    .row.header
      .col-lg-4.col-lg-offset-7
        .logo
          =link_to root_path do
            %img{src: asset_path('logo_200x89.png'), title: "3Void"}
        %h3.page-title
          =content_for?(:page_title) ? yield(:page_title) : "A page"

    .row.navigation
      .col-lg-10.col-lg-offset-1
        .navbar
          %ul.nav.navbar-nav
            %li{class: nav_active(main_app.root_path)}
              %a{href: main_app.root_path, title: "Home"}
                Home 
            %li{class: nav_active(marti.root_path)} 
              %a{href: marti.root_path, title: "Articles"}
                Articles
            %li{class: nav_active(main_app.projects_path)} 
              %a{href: main_app.projects_path, title: "Projects"}
                Projects
            %li{class: nav_active(main_app.academic_path)} 
              %a{href: main_app.academic_path, title: "Academic"}
                Academic


    .row
      .col-lg-10.col-lg-offset-1
        .page-content
          =yield
    .row
      .col-lg-11.col-lg-offset-1
        =yield(:footer)
